In [1]:
import pandas as pd

In [2]:
# Exemplo de estrutura de tabela para armazenar os resultados
resultados = pd.DataFrame({
    'Nome': ['Estudante 1', 'Estudante 2'],
    'Tempo': [300, 250],  # Tempo em segundos
    'Precisão': [90, 85],  # Precisão em porcentagem
    'Erros': [2, 3],  # Número de erros
    'Desempenho': [88, 80]  # Pontuação calculada
})

resultados

          Nome  Tempo  Precisão  Erros  Desempenho
0  Estudante 1    300        90      2          88
1  Estudante 2    250        85      3          80

In [3]:
def calcular_desempenho(tempo, precisao, erros):
    # Fórmula de pontuação: precisão ajustada pelo tempo e erros
    desempenho = (precisao / (tempo + erros)) * 100
    return desempenho

In [4]:
# Testando a função com dados de um estudante
tempo = 250  # segundos
precisao = 90  # porcentagem
erros = 3  # número de erros

pontuacao = calcular_desempenho(tempo, precisao, erros)
print(f'Pontuação: {pontuacao:.2f}')

Pontuação: 35.57

In [5]:
# Inicializar tabela de resultados
resultados = pd.DataFrame(columns=['Nome', 'Tempo', 'Precisão', 'Erros', 'Desempenho'])

In [6]:
def armazenar_resultados(nome, tempo, precisao, erros):
    desempenho = calcular_desempenho(tempo, precisao, erros)
    novo_resultado = pd.DataFrame({
        'Nome': [nome],
        'Tempo': [tempo],
        'Precisão': [precisao],
        'Erros': [erros],
        'Desempenho': [desempenho]
    })
    # Adiciona o novo resultado na tabela existente
    global resultados
    resultados = pd.concat([resultados, novo_resultado], ignore_index=True)
    return resultados

In [7]:
# Adicionando resultados de estudantes
armazenar_resultados('Estudante 1', 300, 90, 2)
armazenar_resultados('Estudante 2', 250, 85, 3)

resultados

C:\Users\mabri\AppData\Local\Temp\ipykernel_12052\3315621693.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  resultados = pd.concat([resultados, novo_resultado], ignore_index=True)

          Nome Tempo Precisão Erros  Desempenho
0  Estudante 1   300       90     2   29.801325
1  Estudante 2   250       85     3   33.596838

In [8]:
def fornecer_feedback(desempenho):
    if desempenho >= 90:
        return "Excelente desempenho! Continue assim."
    elif 75 <= desempenho < 90:
        return "Bom trabalho, mas ainda há espaço para melhorias."
    else:
        return "Você precisa de mais prática. Continue treinando."

In [9]:
# Gerando feedback com base na pontuação de um estudante
feedback = fornecer_feedback(pontuacao)
feedback

'Você precisa de mais prática. Continue treinando.'